* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#new-grid {
    width: 700px;
    height: 700px;
}

.grid-row {
    display: flex;
}

.grid-square {
    background-color: #add8e6;
}

.grid-square.coloured {
    background-color: black;
}

#grid-button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #a6c1ee;
    margin-bottom: 20px;
}
